<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Favorites</h1>
    <a type="button" class="btn btn-lg btn-default" href="/search"><span class="glyphicon glyphicon-flash"></span> Giphy Search</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/dbaronster/giphy"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
</div>
</div>


</body>
</html>
